extends layout
block content
    h1= title
    - let vehiclesid = toShow._id
    - let vehiclesname = toShow.name
    - let vehiclesmileage = toShow.mileage
    - let vehiclescost = toShow.price
    div
        div.row
            div(class='vehiclesAttr mr-3') vehicles ID is:
            div #{vehiclesid}
        div.row
            div(class='vehiclesAttr mr-3') vehicles Name is:
            div #{vehiclesname}
        div.row
            div(class='vehiclesAttr mr-3') vehicles Mileage is:
            div #{vehiclesmileage}
        div.row
            div(class='vehiclesAttr mr-3') vehicles Cost is:
            div #{vehiclescost}